:root {
  --bgColor: #FFF8DC;
  --borderColor: #E1C16E;
  --dsktpSize: 8rem;
  --mobileSize: 4.5rem;
  --Xcolor: #DAA520;
  --Ocolor: #8B8000;
  --playerFontColor: #804000;
  --fontSize: 0.85rem
}

* {
  margin: 0;
  padding: 0
}

body {
  background-color: var(--bgColor);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.container {
  align-self: center;
  border-spacing: 0;
}

.cell {
  border: 3px solid var(--borderColor);
  cursor: pointer;
  height: var(--dsktpSize);
  min-width: var(--dsktpSize);
  padding: calc(var(--dsktpSize) * 0.175);
}

.row *:nth-child(2n+1) {
  border-left: none;
  border-right: none;
  border-top: none;
}

.row .cell:nth-child(2) {
  border-top: none;
}

.row:last-child .cell {
  border-bottom: none;
}

.cell svg {
  height: var(--dsktpSize);
  overflow: visible;
  stroke-width: 3px;
  width: var(--dsktpSize);
}

.X {
  display: none;
  stroke: var(--Xcolor);
  stroke-dasharray: 36 36;
  stroke-dashoffset: 36;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.O {
  display: none;
  stroke: var(--Ocolor);
  stroke-dasharray: 76 76;
  stroke-dashoffset: 76;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}


.select-player {
  background-color: var(--borderColor);
  border: 2px solid var(--bgColor);
  border-radius: 5px;
  color: var(--playerFontColor);
  display: block;
  font-size: var(--fontSize);
  font-weight: 600;
  left: 1rem;
  padding: 0.3rem;
  position: absolute;
  top: 1rem;
}

.player-option {
  background-color: #FFF;
}

.score-card {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  left: 1rem;
  position: absolute;
  top: 1rem;
}

.icon {
  border-right: 2px solid var(--borderColor);
  height: 1.25rem;
  padding: 5px;
  width: 1.5rem;
}

.icon svg {
  display: block;
  height: 90%;
  overflow: visible;
  stroke-dasharray: none;
  stroke-dashoffset: none;
  stroke-width: 3px;
  transition: none;
  width: 90%;
}

.score-card>div {
  border: 2px solid var(--borderColor);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 1.75rem;
}

.score-card>.player-active {
  border-bottom-width: 2px;
}

.score {
  align-items: center;
  color: var(--playerFontColor);
  display: flex;
  font-size: var(--fontSize);
  font-weight: 600;
  justify-content: center;
  width: 2rem;
}

.winner-X {
  color: var(--Xcolor);
  font-size: 4rem;
}

.winner-O {
  color: var(--Ocolor);
  font-size: 4rem;
}

.player-selection {
  align-items: center;
  background-color: rgb(255, 248, 220);
  bottom: 0;
  color: var(--playerFontColor);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.player-selection button {
  background-color: var(--borderColor);
  border: 2px solid var(--borderColor);
  border-radius: 0.75rem;
  color: var(--playerFontColor);
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 10px;
  padding: 6px;
  width: 20rem;
}

.player-selection button:hover {
  background-color: var(--playerFontColor);
  border: 2px solid var(--playerFontColor);
  color: #FFF;
}

.player-selection.hide {
  display: none;
}

.select-player-text {
  animation: fadeIn 2s infinite;
  -webkit-animation: fadeIn 2s infinite;
  -moz-animation: fadeIn 2s infinite;
  -o-animation: fadeIn 2s infinite;
  -ms-animation: fadeIn 2s infinite;
  margin-bottom: 1.5rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.instructions {
  align-items: center;
  background-color: var(--bgColor);
  bottom: 0;
  color: var(--playerFontColor);
  display: none;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  justify-content: center;
  left: 0;
  padding: 3rem;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.instructions button {
  background-color: var(--borderColor);
  border: 2px solid var(--borderColor);
  border-radius: 0.75rem;
  color: var(--playerFontColor);
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 10px;
  padding: 6px;
  width: 20rem;
}

.instructions button:hover {
  background-color: var(--playerFontColor);
  border: 2px solid var(--playerFontColor);
  color: #FFF;
}

.instructions-text {
  margin-bottom: 2rem;
  width: 40%;
}

.instructions.show {
  display: flex;
}

.winning-message {
  align-items: center;
  background-color: rgb(255, 248, 220, 0.9);
  bottom: 0;
  color: var(--playerFontColor);
  display: none;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 600;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.winning-message button {
  background-color: var(--playerFontColor);
  border: 2px solid var(--playerFontColor);
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 6px;
}

.winning-message button:hover {
  background-color: #FFF;
  border: 2px solid var(--playerFontColor);
  color: var(--playerFontColor);
}

.winning-message.show {
  display: flex;
}

.winning-message-text {
  margin-bottom: 2rem;
}

.winning-message-text.X {
  color: var(--Xcolor);
  font-size: 4rem;
  display: flex;
}

.winning-message-text.O {
  color: var(--Ocolor);
  display: flex;
  font-size: 4rem;
}

.end-game {
  background-color: var(--playerFontColor);
  border: 2px solid var(--playerFontColor);
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  font-size: 0.85rem;
  font-size: var(--fontSize);
  font-family: sans-serif;
  font-weight: 600;
  padding: 6px;
  position: absolute;
  right: 0.75rem;
  top: 1rem;
}

.player-turn {
  display: flex;
  font-family: sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  position: absolute;
  text-align: center;
  top: 8rem;
}

.player-turn.X {
  color: var(--Xcolor);
}

.player-turn.O {
  color: var(--Ocolor);
}

.player-turn.hide {
  display: none;
}

.dare-message {
  align-items: center;
  background-color: rgb(255, 248, 220);
  bottom: 0;
  color: var(--playerFontColor);
  display: none;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.generate-dare-btn {
  background-color: var(--playerFontColor);
  border: 2px solid var(--playerFontColor);
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 6px;
}

.generate-dare-btn.hide {
  display: none
}

.end-game-dare-btn {
  background-color: var(--playerFontColor);
  border: 2px solid var(--playerFontColor);
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  display: none;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 6px;
}

.end-game-dare-btn.show {
  display: flex
}

.dare-message button:hover {
  background-color: #FFF;
  border: 2px solid var(--playerFontColor);
  color: var(--playerFontColor);
}

.dare-message.show {
  display: flex;
}

.dare-message-text {
  margin-bottom: 2rem;
}


#text-drop {
  font-size: 6rem;
  display: flex;
  font-family: sans-serif;
  font-weight: 900;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.tic {
  animation: drop .4s linear forwards;
  -webkit-animation: drop .4s linear forwards;
  -moz-animation: drop .4s linear forwards;
  -o-animation: drop .4s linear forwards;
  -ms-animation: drop .4s linear forwards;
  color: var(--Xcolor);
  opacity: 0;
}

.tac {
  animation: drop .4s linear forwards .2s;
  -webkit-animation: drop .4s linear forwards .2s;
  -moz-animation: drop .4s linear forwards .2s;
  -o-animation: drop .4s linear forwards .2s;
  -ms-animation: drop .4s linear forwards .2s;
  color: var(--Ocolor);
  opacity: 0;
}

.toe {
  opacity: 0;
  animation: drop .4s linear forwards .4s;
  -webkit-animation: drop .4s linear forwards .4s;
  -moz-animation: drop .4s linear forwards .4s;
  -o-animation: drop .4s linear forwards .4s;
  -ms-animation: drop .4s linear forwards .4s;
  color: var(--playerFontColor);
  opacity: 0;
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }

  5% {
    opacity: .7;
  }

  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }

  65% {
    transform: translateY(-17px) scaleY(.9);
    opacity: 1;
  }

  75% {
    transform: translateY(-22px) scaleY(.9);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@-moz-keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }

  5% {
    opacity: .7;
  }

  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }

  65% {
    transform: translateY(-17px) scaleY(.9);
    opacity: 1;
  }

  75% {
    transform: translateY(-22px) scaleY(.9);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@-webkit-keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }

  5% {
    opacity: .7;
  }

  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }

  65% {
    transform: translateY(-17px) scaleY(.9);
    opacity: 1;
  }

  75% {
    transform: translateY(-22px) scaleY(.9);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@-o-keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }

  5% {
    opacity: .7;
  }

  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }

  65% {
    transform: translateY(-17px) scaleY(.9);
    opacity: 1;
  }

  75% {
    transform: translateY(-22px) scaleY(.9);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@-ms-keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }

  5% {
    opacity: .7;
  }

  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }

  65% {
    transform: translateY(-17px) scaleY(.9);
    opacity: 1;
  }

  75% {
    transform: translateY(-22px) scaleY(.9);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  #text-drop {
    font-size: 4.25rem;
  }

  .instructions-text {
    width: 90%;
  }

  .cell {
    height: var(--mobileSize);
    min-width: var(--mobileSize);
    padding: calc(var(--mobileSize) * 0.175);
  }

  .cell svg {
    height: var(--mobileSize);
    width: var(--mobileSize);
  }
}